<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 외부 저장소에서 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 절전 모드에서도 알람을 울리기 위한 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.DIA_v102"
        tools:targetApi="31"
        android:name=".UserSet">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindPW"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".InputDiatype"
            android:exported="false" />
        <activity
            android:name=".InputWeek"
            android:exported="false" />
        <activity
            android:name=".InputTime"
            android:exported="false" />
        <activity
            android:name=".InputBasicData"
            android:exported="false" />
        <activity
            android:name=".InputSignup"
            android:exported="false" />

        <activity
            android:name=".MainActivity2"
            android:theme="@style/Base.Theme.DIA_v102"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Edit_info"
            android:exported="false" />
        <activity
            android:name=".FragmentGraph"
            android:exported="false" />
        <activity
            android:name=".FragmentDiabetes"
            android:exported="false" />
        <activity
            android:name=".FragmentChatbot"
            android:exported="false" />
        <activity
            android:name=".FragmentDiet"
            android:exported="false" />
        <activity
            android:name=".userFood"
            android:exported="false" />
        <activity
            android:name=".DietCheckMenu"
            android:exported="false" />
        <activity
            android:name=".DietOutputNutrient"
            android:exported="false" />
        <activity
            android:name=".Data"
            android:exported="false" />
        <activity
            android:name=".GraphDiabetes"
            android:exported="false" />
        <activity
            android:name=".GraphDiet"
            android:exported="false" />
        <activity
            android:name=".Alarm"
            android:exported="false" />
        <activity
            android:name=".StopAlarm"
            android:exported="false"/>


        <meta-data
            android:name="com.google.android.actions"
            android:resource="@menu/menu_bottom" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dia_v102.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- AlarmReceiver 등록 -->
        <receiver android:name=".AlarmReceiver" android:exported="false" />

    </application>

</manifest>
