<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIA_v102"
        tools:targetApi="31">

        <activity
            android:name=".Graph"
            android:exported="false" />
        <activity
            android:name=".Data"
            android:exported="false" />
        <activity
            android:name=".CustomAdapter"
            android:exported="false" />
        <activity
            android:name=".RecyclerDietItem"
            android:exported="false" />
        <activity
            android:name=".DiabetesGraph"
            android:exported="false" />
        <activity
            android:name=".InputDiatype"
            android:exported="false" />
        <activity
            android:name=".InputWeek"
            android:exported="false" />
        <activity
            android:name=".DietGraph"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@menu/menu_bottom" />

        <activity
            android:name=".InputTime"
            android:exported="false" />
        <activity
            android:name=".InputBasicData"
            android:exported="false" />
        <activity
            android:name=".Navi"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".Diabetes"
            android:exported="false" />
        <activity
            android:name=".Chatbot"
            android:exported="false" />
        <activity
            android:name=".Diet"
            android:exported="false" />
        <activity
            android:name=".CheckMenu"
            android:exported="false" />
        <activity
            android:name=".OutputNutient"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dia_v102.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>